@import "../../sass/variables";

.settings-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  grid-area: 1 / 3 / auto / auto;
  height: 60px;
  @media (max-width: $phoneScreen) {
    flex-direction: column;
    justify-content: space-between;
  }
}
