@import "../../sass/mixins";

.temp {
  @include text(1em, 0em, 600);
  display: inline;
  align-items: center;
  margin-left: 5px;

  .unit {
    margin-left: 2px;
    @include text(0.5em, 0, 400);
  }
}
