@import "../../sass/variables";

.favourite-title {
  width: 80%;
  display: flex;
  align-items: center;
  font-size: 25px;

  .trash-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    margin-left: 10px;

    &:hover {
      border-radius: 50%;
      cursor: pointer;
      background-color: $bqcHoverColor;
    }
  }
}
