.favourites-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100vh;
  z-index: 70;
  background: #a19c9c;
  transform: translateX(100%);
  transition: all 2000ms;

  .favourites-content {
    padding: 20px;
    width: 100%;
    height: 100%;

    .favourites-header {
      position: relative;
      height: 27px;
      line-height: 27px;

      .exit-btn {
        position: absolute;
        right: 0;
        top: 0;
        width: 25px;
        height: 25px;
        border: none;
        cursor: pointer;
        font-size: 1.5em;
        background: #1a73e8;
      }
      .exit-btn:hover {
        background: #cf031d;
        color: white;
      }
    }
  }
}
.favourites-container-enter-done {
  transform: translateX(0);
}
.enter-active {
  transform: translateX(0);
  transition: transform 2000ms;
}
