.recharts-legend-item-text {
  cursor: pointer;
  position: relative;
  margin-top: 5px;

  &:hover::after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    content: "Delete";
    width: 80px;
    color: white;
    background: #465774;
    padding: 5px;
    border-radius: 5px;
  }
}
