@import "../../sass/mixins";
@import "../../sass/variables";

.summary-caption-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: start;
  margin-bottom: 20px;

  .summary-content {
    @include text(0.9rem, 1rem, 400);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background: $bqcColor;
    border-radius: 5px;
    padding: 0 5px;
    box-shadow: $boxShadow;
  }

  .weather-description {
    margin-right: 10px;

    &::first-letter {
      text-transform: uppercase;
    }
  }
  .conditions-temp-container {
    font-size: 0.9rem;
  }
}

.conditions-items {
  display: flex;
  flex-wrap: wrap;
}
