@import "../../sass/mixins";
@import "../../sass/variables";

.toggle-container {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  box-shadow: $boxShadow;

  .switch {
    .track {
      display: inline-block;
      width: 100px;
      height: 35px;
      border-radius: 7px;
      background: rgba(171, 172, 192, 0.5);
      transition: background 1000ms;

      .thumb {
        display: inline-block;
        width: 45px;
        height: 35px;
        border-radius: 7px;
        background-color: var(--accent-background);
        text-align: center;
        line-height: 35px;
        transition: transform 400ms;
        font-size: 14px;
        overflow: hidden;

        &:hover {
          cursor: pointer;
        }
      }
    }

    input:checked + .track {
      background: rgba(54, 66, 86, 0.95);

      .thumb {
        transform: translateX(56px);
      }
    }
  }
}
