@import "../../sass/mixins";
@import "../../sass/variables";

.current-weather-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  grid-area: 1 / 1 / auto / auto;
  margin-top: -10px;
  @media (max-width: $phoneScreen) {
    grid-area: 1 / 1 / auto / 3;
  }

  .label-container {
    .label-weather {
      @include text(0.9rem, 1.5rem, 600);
    }

    .label-update-time {
      @include text(0.8rem, 0.8rem, 400);
    }

    .location-name {
      @include text(0.9rem, 1.5em, 600);
      margin-top: 5px;
    }
  }

  .overview-weather-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;

    .weather-icon {
      @media (max-width: $phoneScreen) {
        width: 100%;
        margin-left: -15px;
      }
    }

    .current-temp-container {
      font-size: 3.2rem;
      margin-left: -15px;
    }
  }
}
