@import "../../sass/mixins";
@import "../../sass/variables";

.current-weather-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  grid-area: 1 / 1 / auto / auto;
  color: #fff;
  @media (max-width: $phoneScreen) {
    grid-area: 1 / 1 / auto / 3;
  }

  .label-container {
    .label-weather {
      @include text(0.9rem, 1.5rem, 600);
    }

    .label-update-time {
      @include text(0.8rem, 0.8rem, 400);
    }

    .location-name {
      @include text(0.9rem, 1.5em, 600);
      margin-top: 5px;
    }
  }

  .overview-weather-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;

    .weather-icon {
      margin-left: -15px;
      @media (max-width: $phoneScreen) {
        width: 50%;
      }
    }
  }

  //.summary-caption-container {
  //  flex-grow: 1;
  //  width: 30%;
  //  @include text(0.9rem, 1.6rem, 400);
  //
  //  .weather-description {
  //    @include text(1rem, 1.1rem, 600);
  //
  //    &::first-letter {
  //      text-transform: uppercase;
  //    }
  //  }
  //
  //  .temp-feelsLikes {
  //    @include text(0.5rem, 0, 600);
  //  }
  //}
}
