@import "../../sass/variables";

.weather-template-container {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  width: 575px;
  min-height: 270px;
  border: 1px solid lightgray;
  border-radius: 7px;
  margin: 15px auto;
  box-shadow: $boxShadowPanel;
  @media (max-width: $tableScreen) {
    width: 340px;
  }
}
