.header {
  width: 100%;
  position: fixed;
  top: 0;
  background: -webkit-linear-gradient(
    90deg,
    #d6d5da,
    #a6b0b9,
    #a6b0b9,
    #a6b0b9,
    #d5d5dd
  );
  background: linear-gradient(
    90deg,
    #d6d5da,
    #a6b0b9,
    #a6b0b9,
    #a6b0b9,
    #d5d5dd
  );
  box-shadow: 0 0 5px #000000;
  .background-img {
    position: absolute;
    width: 100%;
    height: 127px;
    background-image: url("../../assets/images/cloudy.jpeg");
    background-size: cover;
    background-position: center;
    opacity: 70%;
    z-index: 10;
    @media (max-width: 955px) {
      height: 197px;
    }
  }
  .root-container {
    position: relative;
    z-index: 20;
    width: 100%;
    margin: auto;
    border: 1px solid white;
    @media (min-width: 956px) {
      grid-template-rows: repeat(2, auto);
      margin: 0 20px;
      width: auto;
    }
    @media (min-width: 640px) and (max-width: 955px) {
      width: 610px;
      grid-template-rows: repeat(3, auto);
    }
    @media (max-width: 640px) {
      width: 340px;
      grid-template-rows: repeat(3, auto);
    }

    .top-container {
      display: grid;
      grid-column: 1 / auto;
      grid-row: 1 / auto;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding: 10px 0;
      @media (min-width: 956px) {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto;
      }
      @media (max-width: 643px) {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(3, auto);
        width: inherit;
      }
    }

    .weather-conditions-container {
      width: inherit;
      height: 45px;
      grid-column: 1 / auto;
      background-color: #ea8e90;
    }
  }
}
