@import "../../../sass/variables";

@keyframes fadeInPanel {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutPanel {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

.forecast-panel {
  display: grid;
  grid-template-rows: 1fr 4fr 0.5fr;
  //width: 60%;
  height: 400px;
  border-radius: 7px;
  margin-bottom: 30px;
  box-shadow: $boxShadowPanel;
  cursor: grab;
  animation: fadeInPanel 600ms ease-in-out;

  @media (max-width: $tableScreen) {
    // min-height: 500px;
    width: 90%;
    margin: auto;
  }

  //@media (min-width: $tableScreen) {
  //  width: 60%;
  //}

  &.mod-hiding {
    animation: fadeOutPanel 600ms ease-in-out;
  }
}
