@import "../../../sass/variables";

@keyframes fadeInPanel {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutPanel {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

.forecast-panel {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 3fr 0.5fr;
  width: 740px;
  border-radius: 7px;
  margin-bottom: 50px;
  background-color: var(--background-panel);
  box-shadow: $boxShadowPanel;
  cursor: grab;
  animation: fadeInPanel 600ms ease-in-out;

  @media (max-width: $tableScreen) {
    width: 90%;
    margin: 10px auto 30px auto;
  }

  @media (max-width: $phoneScreen) {
    height: 450px;
    grid-template-rows: 1fr 4fr 1fr;
  }

  &.mod-hiding {
    animation: fadeOutPanel 600ms ease-in-out;
  }
}
