@import "../../../sass/variables";
@import "../../../sass/mixins";

.forecast-header {
  border-radius: 7px 7px 0 0;
  background: #465873;
  box-shadow: $lineShadow;
  padding: 2px 10px 5px 10px;

  .forecast-label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

    .forecast-time {
      margin-top: 5px;
    }

    .buttons {
      display: flex;
      flex-direction: row;

      .forecast-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;

        &.favourite svg {
          color: gold;
        }

        &:hover {
          border-radius: 50%;
          background-color: $bqcHoverColor;
          cursor: pointer;
        }
      }
    }
  }

  .forecast-header-container {
    display: flex;
    justify-content: space-between;

    .forecast-conditions {
      .condition-item {
        @include text(14px, 16px, 400);
        display: inline-block;
        margin-right: 15px;
      }
    }
  }
}
