@import "../../../sass/variables";

.favourite-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  border-radius: 5px;
  margin-top: 15px;
  background: rgba(171, 172, 192, 0.2);
  padding: 5px;

  &:hover {
    cursor: pointer;
    box-shadow: $boxShadowPanel;
  }

  .place-name {
    width: 90%;
  }

  .exit-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;

    &:hover {
      cursor: pointer;
      border-radius: 50%;
      background: $bqcHoverColor;
    }
  }
}
