.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  margin: 5px auto 10px;
  text-transform: uppercase;

  .exit-btn button {
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer;
    font-size: 2em;
    color: white;
    background: inherit;

    &:hover {
      border-radius: 50%;
      background: rgba(171, 172, 192, 0.5);
    }
  }
}
