.sidebar-header {
  position: relative;
  height: 27px;
  line-height: 27px;

  .exit-btn button {
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    font-size: 1.8em;
    background: #1a73e8;
    line-height: 25px;

    &:hover {
      background: #cf031d;
      color: white;
    }
  }
}
