@import "../../sass/variables";

.search-container {
  height: 60px;
  width: 100%;
  grid-area: 1 / 2 / auto / auto;
  background-color: $bqcColor;
  box-shadow: $boxShadowPanel;
  border-radius: 5px;
  //border: 1px solid #546279;
  padding: 10px;

  @media (max-width: $desktopScreen) {
    grid-area: 2 / 1 / auto / 4;
    width: auto;
    margin-top: -5px;
  }
}
