@import "../../sass/variables";
@import "../../sass/mixins";

.search-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 60px;
  width: 575px;
  background-color: $bqcColor;
  grid-area: 1 / 2 / auto / auto;
  box-shadow: $boxShadowPanel;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;

  @media (max-width: $desktopScreen) {
    grid-area: 2 / 1 / auto / 4;
    width: auto;
    margin: 0;
  }

  .button-group {
    display: flex;
    justify-content: space-between;

    & .active {
      display: block;
      width: 100%;
      background: #465774;
      transition: background 500ms;
      //box-shadow:0 0 15px #f8f6f6;
    }

    & button {
      @include text(0.8rem, 1.5em, 600);
      width: 30%;
      height: 23px;
      font-family: "Open Sans", sans-serif;
      color: #fff;
      border-radius: 5px;
      background: rgba(171, 172, 192, 0.5);
      text-align: center;
      margin-bottom: 4px;
      cursor: pointer;
    }
  }

  .input-button-group {
    display: flex;
    justify-content: space-between;

    .input-group {
      width: 65%;

      .search-byName {
        width: 100%;
        outline: none;
        padding-left: 5px;
      }

      .search-byCoordinates {
        display: flex;
        justify-content: space-between;

        & input {
          width: 46%;
          outline: none;
          padding-left: 5px;
        }
      }
    }

    & button {
      @include text(0.8rem, 1.5em, 600);
      width: 30%;
      height: 23px;
      font-family: "Open Sans", sans-serif;
      color: #fff;
      border-radius: 5px;
      background: rgba(171, 172, 192, 0.5);
      text-align: center;
      margin-bottom: 4px;
      cursor: pointer;

      .block-hidden {
        display: none;
        position: absolute;
        top: 2px;
        right: 0;
        width: 31%;
        height: 25px;
        background: white;
        border-radius: 5px;
        line-height: 25px;
      }
      &:active {
        background: #465774;
      }

      &:disabled {
        color: gray;
        cursor: auto;
      }

      &:hover .block-hidden {
        display: block;
      }
    }
  }
}
